/* responsive sizes:
Mobile: 375px
Desktop: 1440px */

/* body text: font size 18px */

/* font family: Epilogue
weights: 500, 700 */

:root {
    --almostwhite: hsl(0, 0%, 98%);
    --mediumgray: hsl(0, 0%, 41%);
    --almostblack: hsl(0, 0%, 8%);
}



